@{
    ViewBag.Title = "Home Page";


}
<div class="container">
    <div class="main-title text-center">
        <h1>RECENT CARS</h1>
        <p>Sed hendrerit quam sed ante euismod posu. Mauris ut elementum ante. Vestibuel suscipit convallis purus mattis magna sapien, euismod convallis sagittis quis euismod posu.</p>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="features-item clearfix">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-pad-2">
                    <img src="images/Range of Cars/car-3.jpg" alt="car3">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 detail">
                    <h4>
                        <a href="product.html">Ferrari Red Car</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, conse adipiscing elit. Maecenas mauris orci, pellentesque at vestibulum quis, porttitor.</p>
                    <div class="bottom">
                        <div class="price">
                            <strong>Price</strong> $49.000
                        </div>
                        <div class="pull-right">
                            <div class="btn-div">
                                <a href="product.html">
                                    <span class="read-more">Ream More</span>
                                    <span class="icon-arrow-right2">
                                        <i class="fa  fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="features-item clearfix">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-pad-2">
                    <img src="images/Range of Cars/car-4.jpg" alt="car4">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 detail">
                    <h4>
                        <a href="product.html">BMW Black Zero M</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, conse adipiscing elit. Maecenas mauris orci, pellentesque at vestibulum quis, porttitor.</p>
                    <div class="bottom">
                        <div class="price">
                            <strong>Price</strong> $49.000
                        </div>
                        <div class="pull-right">
                            <div class="btn-div">
                                <a href="product.html">
                                    <span class="read-more">Ream More</span>
                                    <span class="icon-arrow-right2">
                                        <i class="fa  fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="features-item clearfix">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-pad-2">
                    <img src="images/Range of Cars/car-5.jpg" alt="car5">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 detail">
                    <h4>
                        <a href="product.html">Mc Laren 650s</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, conse adipiscing elit. Maecenas mauris orci, pellentesque at vestibulum quis, porttitor.</p>
                    <div class="bottom">
                        <div class="price">
                            <strong>Price</strong> $49.000
                        </div>
                        <div class="pull-right">
                            <div class="btn-div">
                                <a href="product.html">
                                    <span class="read-more">Ream More</span>
                                    <span class="icon-arrow-right2">
                                        <i class="fa  fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <div class="features-item clearfix">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-pad-2">
                    <img src="images/Range of Cars/car-6.jpg" alt="car6">
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 detail">
                    <h4>
                        <a href="product.html">Audi Q7</a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet, conse adipiscing elit. Maecenas mauris orci, pellentesque at vestibulum quis, porttitor.</p>
                    <div class="bottom">
                        <div class="price">
                            <strong>Price</strong> $49.000
                        </div>
                        <div class="pull-right">
                            <div class="btn-div">
                                <a href="product.html">
                                    <span class="read-more">Ream More</span>
                                    <span class="icon-arrow-right2">
                                        <i class="fa  fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script></script>
}