body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
a:hover, a:active {
        text-decoration: none;
        display: inline-block;
}
#timkiem
{
    float:left;

}
#search{
    float:left;
    margin-right:10px;
}
.btn btn-info {
    margin-bottom: 10px;
}
table
{
    margin-top:10px;

}
#text {
    text-align: center;
    margin-top: 22px;
}
li a {
    display: inline-block;
    margin-bottom: 2px;
    width: 40px;
    height: 41px;
    border: 1px solid #dee2e6;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
li:hover {
    text-decoration: none;
    display: inline-block;
}

.dropdown-menu show {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(0px, 45px, 0px);
}
.page-bottom {
   text-align:center;
}